.active:hover {
  font-weight: bold;
}

.shell {
  background:azure;
  margin: 5px;
}

.inventory {
  margin: 5px;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
